
html body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul{
    /* background-color: red;
    color: white; */
   background-color:darkblue;
   color: white;
   display: flex;
   margin: 0;
   padding: 15px 0;
}
ul li{
    list-style: none;
    margin: 0 23px;
}
