<div class="container col-sm-6">
        <div id="myDIV" class="header">
                <h2>{{name}} To Do List</h2>
                <input type="text" id="myInput" placeholder="Title...">
                <span onclick="newElement()" class="addBtn">Add</span>
              </div>
              
              <ul id="myUL">
                <li>One</li>
                <li class="checked">Two</li>
                <li>Thre</li>
                <li>Four</li>
              </ul>
        </div>