<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Login</title>
</head>
<body>
    {{>navbar}}
    <div class="container col-md-4">
        <h1>Logout successfully</h1>
    </div>
</body>
</html>