<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="D:\MyPractice\Node js\ExpressJS\Practice\partials\bootstrap-4.6.2-dist\css\bootstrap.min.css"> --}}
    <title>Document</title>
    {{>boot}}
      {{>style}}
</head>
<body>
  <div class="container col-sm-6" style="background-color: greenyellow;">
<div id="myDIV" class="header">
        <h2>{{name}} To Do List</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
      </div>
      
      <ul id="myUL">
        <li>One</li>
        <li class="checked">Two</li>
        <li>Thre</li>
        <li>Four</li>
      </ul>
</div>
    
      {{>header}}
      {{>hfh}}
<button class="button btn-primary">asdds</button>
</body>
</html>